<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Watchlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
    <form action="#" th:action="@{/idx}" th:object="${mm}" method="post">
    	<p>titulo: <input type="text" name="titulo" /></p>
        <p>poster: <input type="text" name ="poster" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
