<!DOCTYPE html>
<html  lang="en" xmls:th="http://thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Watchlist</title>
  <style type="text/css">
    .filmes{
      width: 90%;
      height: 90%;
      display: flex;

      flex: 1;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 70px;
      padding-bottom: 30px;
    }
    .item{
      width: 18rem;
      margin-bottom: 1.6%;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">WatchList</a>
   			<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            </li>
          </ul>
         <form method="GET"  th:action="@{/index}">
            <input class="form-control me-2" name="q" type="search" placeholder="Search *" aria-label="Search">
            <button type="submit" class="btn btn-outline-success" >Search</button>
          </form> 
        </div>
      </div>
    </nav>
  </header>
  <section>
  
  <form id="formal" method="post" action="#" th:action="@{/index}" th:object="${MongoModel}">
  
    <div class="container" style="width: 60%; padding-bottom: 30px;">
      <div class="filmes">     
        <div class="card item" th:each="i : ${obj}" th:if="${i.getTitle()} and ${i.image}">
      		 	<img type="text" th:each="s : ${i.image}" 
      			 th:src="${s.url}" class="card-img-top" alt="...">
      		 <input type="hidden" />

          <div class="card-body" >
				<h5 type="text" class="card-title" th:text="${i.getTitle()}">TITU</h5>
		<input type="hidden" name="" th:each="s : ${i.getTitle()}" />
          <!--  p><input type="submit" class="btn btn-primary" value="Send Me!" /> </p> -->
          <!-- button type="" class="btn btn-primary">Adicionar à lista</button>   -->
 
          </div>
        </div>
        
      </div><!-- div filmes -->
    </div>
    
    </form>
    
  </section>
</body>
</html>
